/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

$primary-color:#508991;
$primary-hover:#396469;
$secondary-color:#FEC923;
$back-color:#FBFBFB;
$text-color:#111111;

.background-color{
    background-color: $back-color;
}
.primary-text{
    color:$primary-color
}
.primary-bg{
    background-color: $primary-color;
    transition: all 0.5s;
}
.hover-text:hover{
    color: $primary-color;
    transition: all 0.5s;


}
.primary-bg:hover{
background-color: $primary-hover;
transition: all 0.5s;

}
.transparent-btn{
background-color: transparent;
border: 2px solid $primary-color;
transition: all 0.5s;

}
.border-color{
    border-color: $primary-color;
}
// .border-color:focus{
    
//     border: 2px solid $primary-color;
// }
.transparent-btn:hover{
    background-color: $primary-color;
    color: $back-color;
    transition: all 0.5s;
}
.text-color{
    color: $text-color;

}
body{
    background-color: $back-color;

}
body::-webkit-scrollbar {
    width: 7px;
    
  }
  
  body::-webkit-scrollbar-track {
    background: transparent; 
  }
   
  body::-webkit-scrollbar-thumb {
    background: transparent;
    background-color: $primary-color;
    border-radius: 10px;
  }
  